Package:        CI-RPM-Test
Version:	  0.0.1
Release:    1
Section:       Science/Electronics
Priority:      optional
Architecture: all
Maintainer:    Mazher Iqbal <mazher.iqbal@lip6.fr>
Build-Depends: gcc 
Description: Test CI on Github
