Package:       CI-RPM-Test
Version:	     1.0.0
Release:       1
Section:       Science/Electronics
Priority:      optional
Architecture:  any
Maintainer:    Mazher Iqbal <mazher.iqbal@lip6.fr>
Build-Depends: gcc 
Description:   Test CI on Github
